@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-body: #e5e7eb;
  --color-body-dark: #121212;

  --color-main: #f4f6fa;
  --color-secondary: #333332;

  --color-gradient-1: #fb8146;
  --color-gradient-2: #ed4b74;

  --color-main-active: #ffdfdf;
  --color-main-inactive: #a1a1a1;
}

body {
  height: 100vh;
}
